/* Importación del resto de archivos CSS
 ========================================================================== */
@import 'reset.css';
@import 'texto.css';
@import 'menu.css';
@import 'responsivoEscritorio.css';
@import 'responsivoTablet.css';
@import 'responsivoMovil.css';

/* Estilos generales para toda la web
 ========================================================================== */
.contenedor {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 10px;
	padding-right: 10px;
}

.contenedor::after {
	content: "";
	clear: both;
	display: block;
}

.noPadding {
	padding-left: 0;
	padding-right: 0;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.alinearCentro {
	text-align: center;
}

.alinearIzquierda {
	text-align: left;
}

.alinearDerecha {
	text-align: right;
}

.posicionarIzquierda {
	float: left;
}

.posicionarDerecha {
	float: right;
}

.reescalarImagen img {
	max-width: 100%;
}

.noLineHeight {
	line-height: 0;
}

.columnas {
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-gap: 2em;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	-o-column-gap: 2em;
}

/* Estilos para el header y el footer
 ========================================================================== */
header, footer {
	background-color: #820d1f;
	text-align: center;
}

.logoPie {
	width: 10%;
	padding-top: 15px;
}
/*Estilos para que el pie siempre está abajo independientemente de la longitud de la página*/
html{
    position: relative; 
    min-height: 100%;
}

body{
    margin: 0 0 70px;
}

footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 70px;
}

/* Estilos para el slider
 ========================================================================== */
.contenedorSlider {
	position: relative;
	overflow: hidden;
}

#slider {
	display: flex;
	width: 300%;
	margin-left: -100%;
}

.sliderSection {
	width: 100%;
}

.sliderSection img {
	display: block;
	width: 100%;
	height: 100%;
}

.botonAnterior, .botonPosterior {
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 40px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	font-family: Monospace;
	cursor: pointer;
}

.botonAnterior:hover, .botonPosterior:hover {
	background: white;
}

.botonAnterior {
	left: 10px;
}

.botonPosterior {
	right: 10px;
}

/* Estilos login.php
 ========================================================================== */

.recuadro{
	margin: 2%;
	font-size:22px;
}

.inicio{
	border: solid 2px gray;
	border-radius:10px;
	margin-top:1%;
	margin-bottom:1%;
	width:30%;
	padding:2%;
}
.inicio input[type=text],.inicio input[type=password]{
	border: solid 1px gray;
	border-radius:10px;
	padding-left: 2%;
	padding-top:0.5%;
	padding-bottom:0.5%;
}

/*Estilos busqueda.php*/
.barra{
	background-color: white;
	width:70%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 17px;
	background-color: white;
	padding:0.5%;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	background-image: url("../img/varios/buscar.png");
	background-size:30px;
	}


.barra:focus{
	width:100%;
}

.buscar:hover{
	border: solid 2px #38B8C1;
	color:#38B8C1;
	cursor:pointer;
}

.buscador{
	padding:3%;
}
#formBusqueda{
	text-align:center;
	font-size:18px;
	padding:0.5%;
}
#formBusqueda input{
	cursor:pointer;
	background-color:transparent;
}
#formBusqueda input:hover{
	color:#539DD2;
}

.contenedorForm{
	padding-top:0.5%;
	border: solid 2px #ccc;
	height:200px;
	overflow:auto;
	width:30%;
	margin: 0 auto;
	border-radius:5px;
}

.formBuscar{
	padding-bottom:2%;
	padding-top:3%;
	width:60%;
	margin: 0 auto;
	text-align:center;
}
/*Estilos pedirTutoria.php*/
.formPedirTutoria{
	text-align:center;
	width:80%;
	margin:0 auto;
	font-size:20px;
	padding:5%;
	color: #464646;
}

.campoPedirTutoria{
	border:solid 2px #ccc;
	padding:5%;
	width:100%;
	border-radius:5px;
		
}
.formPedirTutoria select{
	border:solid 2px #ccc;
	border-radius:3px;
	padding-left:1%;
	padding-right:1%;
	margin:2%;
	width:15%;
}
.pedirTutoria{
	color: #464646;
	margin-top:3%;
	font-size:20px;
	border-radius:5px;
	border: solid 2px #ccc;
	background-color:white;
	padding-left:2%;
	padding-right:2%;
	cursor:pointer;
}

.pedirTutoria:hover{
	border: solid 2px #464646;
}
/* Otros estilos
 ========================================================================== */