input{
	border: 1px solid;
	border-radius:10px;
	padding:0.1%;
	margin:1%;
}

select{
	border: 1px solid;
	border-radius:10px;
	margin:1%;
}

.curso{
	width:20%
}
.acceso{
	width:35%;
}
fieldset{
	padding: 1%;
	border: 1px solid;
	border-radius:10px;
	width:75%;
	font-size: 140%;
}
#apellidos,#email,#telefono,#direccion{
	width:30%;
}
#nombre,#dni,#cpostal,#provincia{
	width:20%;
}
legend{
	font-size: 170%;
}
.dper{
	display:block;
	margin-left:25%;
}
.todo{
	width:100%;
	overflow:hidden;
}

.dac{
	display:none;
	margin-left:25%;
}

.reg{
	display:none;
	margin-left:25%;
	margin-bottom: 5%;
}
.conf{
	display:none;
	margin-left:25%;
}
.asignaturas{
	display:none;
}
.asigs1,.asigs2,.asigs3,.asigs4{
	border: 2px solid #F7F29F;
	background: #FFFEDC;
	display:none;
	overflow-y: scroll;
	height:120px;
}


.siguiente{
	font-size:130%;
	border: 2px solid #2AA4E1;
	background: #F0F1FF;
	color: #2AA4E1;
	font-weight:bold;
	margin-left:43%;
	padding-left:1%;
	padding-right:1%;
	padding-top:0.5%;
	padding-bottom:0.5%;
}

.siguiente:hover{
	cursor:pointer;
	border: 2px solid #F0F1FF;
	background: #2AA4E1;
	color: #F0F1FF;
}
.atras{
	font-size:130%;
	border: 2px solid #2AA4E1;
	background: #F0F1FF;
	color: #2AA4E1;
	font-weight:bold;
	margin-left:5%;
	padding-left:2%;
	padding-right:2%;
	padding-top:0.5%;
	padding-bottom:0.5%;
}

.atras:hover{
	cursor:pointer;
	border: 2px solid #F0F1FF;
	background: #2AA4E1;
	color: #F0F1FF;
}
.enviar{
	font-size:100%;
	padding:1%;
	margin-top:3%;
	color: green;
	border: 2px solid;
	background-color: #F2FFF5;
	cursor: pointer;

}

.enviar:hover{
	color:#F2FFF5;
	background-color: green;
	
}
.ver{
	border: 2px solid #700E11;
	color: #700E11;
	background-color:#FEFFD8;
	font-size:100%;
	padding:1%;
	margin-top:3%;
	
}

.ver:hover{
	background-color:#921115;
	border: 2px solid #FEFFD8;
	color: #FEFFD8;
	cursor:pointer;
}


.passform,.pass{
	padding:2%;
	display: block;
    margin: auto;
}
.enviarpass{
	padding:50%
}
input [type=pass]{
	display: block;
    margin: auto;
	width:30%;
}

#despacho{
	width:20%;
}

.enviarProf{
	font-size:180%;
	padding-left:1%;
	padding-right:1%;
	color: green;
	border: 2px solid;
	background-color: #F2FFF5;
	cursor: pointer;

}

.enviarProf:active{
	color:#F2FFF5;
	background-color: green;
	
}

.octavio{
	font-size:130%;
	text-align:center;
	background-color:#E1FFE2;
	color: #137F16;
	margin:5%;
}

.mayte{
	text-align:center;
	font-size:150%;
	text-decoration:none;
	background-color:#DDF1FF;
	padding-left:1%;
	padding-right:1%;
	color:#539DD2;
	border-radius:10px;
	border:2px solid #539DD2;
}
.mayte:hover{
	background-color:#539DD2;
	color:#DDF1FF;
	border:2px solid #DDF1FF;
}
